{% extends 'base.html' %}
{% block content %}
<div style="width: 80%; margin:auto">
    <h2>List OF Books</h2>
    {% if booklist %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author Name</th>
                <th scope="col">Category</th>
                <th scope="col">First Publication</th>
                <th scope="col">Last Publication</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in booklist %}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.book_name}}</td>
                <td>{{item.author}}</td>
                <td>{{item.category}}</td>
                <td>{{item.first_pub}}</td>
                <td>{{item.last_pub}}</td>
                <td><a href="{%url 'edit_book' id=item.id %}" class="btn btn-warning btn-sm">Edit</a> <a
                        class="btn btn-danger btn-sm" href="{%url 'delete_book' id=item.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}



        </tbody>
    </table>
    {% else %}
    <h3>No data available</h3>
    {% endif %}
</div>
{% endblock %}